<footer class="footer">
  <p> <strong> © 2025 Sistema de Gerenciamento de Serviços para Eventos — </strong>
    <strong>Camily de Sant'ana Lummertz</strong> 
    <strong>e</strong> 
    <strong>Isadora Sofia Marcelino Pereira</strong>
  </p>
</footer>

<style>
  .footer {
    background-color: #737372;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.9rem;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  }

  .footer strong {
    color: #000;
  }

  body {
    padding-bottom: 60px; /* espaço para o rodapé */
  }
</style>
